
body {
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: black;
  }
  
  /* Hero Section */
  
.header-section {
    color: white;
    background-image: url("../assets/imgs/matrix.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*carousel*/
.carouselExampleDark{
    color: white;
}
  /* Mis trabajos */
  
#Mis-trabajos .image-top {
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #373a3c;
  }
  
  /* Contacto */
  
#Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
@media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
.navbar-brand{
      width: 100px;
    }
